@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    width: auto;
    height: auto;
    background-color: #E0DDE4;
    
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin: 0 12px;
}

header nav a {
    text-decoration: none;
    color: #261C1A;
    font-size: 20px;
}

header nav a:hover {
    color: #F4F3F9;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 50px;
    font-weight: bold;
}

header {
    height: 580px;
    background: no-repeat center/cover url("imagens/fundo/header.jpg");

}

.header-content {
    max-width: 500px;
    margin-left: 40px;
    margin-top: 185px;
    color: #261C1A;
}

.header-content h1 {
    font-size: 40px;
    margin-bottom: 5px;
    text-align: justify;
}

.header-content p {
    font-size: 20px;
    text-align: justify;
}

.header-content li {
    list-style: none;
    margin-left: 50px;
}

p img {
    height: 100px;
    border-radius: 50%;
}

/* rodapé */
.rodape {
    background: #C5C9CE;
    text-align: center;
}


/* Responsividade */

/*TABLETS*/
@media (max-width: 768px) {
}

/*phones */
@media (max-width: 380px) {
    body {
        height: 55px;
    }
    
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        z-index: 99;

        background: #68ABE1;
        color: white;
        font-weight: bold;
        height: 40px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    header nav p {
        width: 100%;
        text-align: center;
    }

    .header-content {
        margin-left: 10px;
    }

    .header-content h1 {
        font-size: 30px;
        padding: 10px;
        text-align: center;
    }

    .header-content p {
        font-size: 18px;
        text-align: justify;
        padding: 10px;
    
    }
}


